*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;
}

p {
  margin: 0;
}

a {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid #eaeaea;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 620px;
  width: 100%;
}

.header__contacts a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #d44343;
  margin-top: 10px;
}

.header__adr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 255px;
}

.header__adr-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.header__adr-icon img {
  width: 100%;
}

.header__adr-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  width: 230px;
  color: #191919;
}

.header__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 145px;
}

.header__call-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.header__call-icon img {
  width: 100%;
}

.header__call-tel {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #191919;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search-input {
  margin-left: 30px;
  position: relative;
}

.header__search-input img {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.header__search-input input {
  width: 335px;
  height: 40px;
  background: #f6f6f6;
  border: none;
  border-radius: 3px;
  padding: 0 17px;
}

.header__search-input input::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #cccaca;
  margin-left: 17px;
}

.header__search-input input:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #cccaca;
  margin-left: 17px;
}

.header__search-input input::-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #cccaca;
  margin-left: 17px;
}

.header__search-input input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #cccaca;
  margin-left: 17px;
}

.header__bookmarks {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}

.header__bookmarks img {
  width: 100%;
}

.header__cart {
  width: 30px;
  height: 30px;
  margin-left: 25px;
}

.header__cart img {
  width: 100%;
}

.header-menu {
  display: none;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #eaeaea;
}

.header-nav a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #191919;
}

.header-menu {
  width: 30px;
  height: 30px;
  margin-left: 50px;
  padding: 0;
  border: 0;
  background: none;
}

.menu-icon {
  display: block;
  max-width: 100%;
  height: auto;
}

.slider-top {
  height: 700px;
  max-width: 1240px;
  width: 100%;
}

.slider-top__item {
  position: relative;
  z-index: 1;
}

.slider-top__item-text {
  position: absolute;
  z-index: 5;
  top: 155px;
  left: 70px;
  width: 430px;
  text-align: center;
  color: #191919;
}

.slider-top__item-text h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 86px;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.slider-top__item-text p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 15px;
}

.slider-top__item-text span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 80px;
  color: #d44343;
}

.slider-top__link {
  margin: 30px auto;
  display: block;
  width: 160px;
  height: 50px;
  border: 1px dashed #191919;
  padding: 12px 20px;
}

.slider-top__link a {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #191919;
}

.slider-top__prev {
  left: 30px;
}

.slider-top__next {
  left: 80px;
}

.slider-top__arrows {
  position: absolute;
  bottom: 20px;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  cursor: pointer;
}

.slider-top__arrows img {
  width: 16px;
  height: 16px;
}

.slider-brand {
  border: 1px solid #eaeaea;
  margin: 50px 0;
}

.slider-brand__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 100px;
  border-left: 1px solid #eaeaea;
  position: relative;
  padding: 10px 0;
}

.slider-brand__img img {
  display: block;
  max-width: 130px;
  width: 100%;
  height: auto;
}

.slider-news {
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  margin-bottom: 70px;
}

.slider-news h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #191919;
  margin: 0 auto 50px;
  width: 125px;
}

.slider-new {
  width: 100%;
  padding-bottom: 55px;
}

.slider-new__item {
  width: 100%;
}

.slider-new__card {
  position: relative;
  margin: 0 auto;
  width: 300px;
}

.slider-new__card p {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  margin: 20px 0;
}

.slider-new__card span {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.slider-new__arrows {
  position: absolute;
  top: -80px;
  right: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  cursor: pointer;
}

.slider-new__arrows img {
  width: 16px;
  height: 16px;
}

.slider-new__prev {
  right: 60px;
}

.slider-trend h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #191919;
  margin: 0 auto 50px;
  width: 260px;
}

.trend {
  position: relative;
}

.trend__armani,
.trend__militare {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.trend__big {
  position: relative;
}

.trend__big-text {
  position: absolute;
  left: 45px;
  bottom: 50px;
}

.trend__big-text h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 55px;
  text-transform: uppercase;
  color: #ffffff;
  width: 370px;
  margin: 0;
}

.trend__big-text--militare h2 {
  width: 400px;
}

.trend__small {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
}

.trend__militare .trend__small {
  margin-left: 0;
  margin-right: 10px;
}

.trend__small-card {
  position: relative;
  margin: 0 auto;
  width: 290px;
}

.trend__small-card p {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  margin: 10px 0;
}

.trend__small-card span {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.collection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.coll__card {
  width: 100%;
  position: relative;
  text-align: center;
}

.coll__card img {
  width: 100%;
  max-width: 390px;
}

.coll__card-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.coll__subtitle {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 15px;
}

.coll__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.coll__link a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}

.descr {
  width: 100%;
  background-color: #f5f5f4;
}

.descr__wrap {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.descr__img {
  width: 100%;
}

.descr__text {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #3d3d3d;
}

.descr__text h2 {
  font-weight: 400;
  font-size: 25px;
  margin: 80px 0 40px;
}

.descr__text p {
  font-weight: 500;
  font-size: 15px;
  line-height: 28px;
  color: #757575;
  margin-bottom: 40px;
}

.subscribe {
  background-image: url(../img/subscribe-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  width: 100%;
}

.subscribe__items {
  position: absolute;
  top: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.subscribe__text {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  line-height: 37px;
  width: 550px;
  margin-left: 35px;
}

.subscribe__text p {
  font-size: 14px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.subscribe__form img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 24px;
  right: 75px;
  z-index: 5;
}

.subscribe__form input {
  width: 445px;
  height: 55px;
  background-color: #ffffff;
  padding: 0 20px;
}

.subscribe__form input::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #3d3d3d;
}

.subscribe__form input:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #3d3d3d;
}

.subscribe__form input::-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #3d3d3d;
}

.subscribe__form input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #3d3d3d;
}

.subscribe__form-police {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.subscribe__form-police input {
  width: 20px;
  height: 20px;
}

.subscribe__form-police label {
  margin-left: 10px;
}

.subscribe__form-police a {
  color: #cccaca;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  text-decoration: none;
  margin-bottom: 3px;
}

.footer {
  border-bottom: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 35px;
}

.footer a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #d44343;
  margin-top: 10px;
}

.footer__addr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 255px;
}

.footer__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 145px;
}

.footer__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 145px;
}

.footer__work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 145px;
}

.footer__work-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer__work-icon img {
  width: 100%;
}

.footer__work-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #191919;
}

.footer__work-text p {
  margin-bottom: 10px;
}

.footer__social {
  min-width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copy {
  max-width: 380px;
  width: 100%;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.footer__year {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #3d3d3d;
}

.footer__police a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #3d3d3d;
}

@media (max-width: 1240px) {
  .container {
    padding: 0 15px;
  }
}

@media (max-width: 1040px) {
  .header__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__contacts {
    margin: 0 auto 30px;
    max-width: 700px;
  }
  .header__search {
    max-width: 700px;
    margin: 0 auto;
  }
}

@media (max-width: 960px) {
  .header-nav {
    display: none;
    background-color: #fff;
    text-align: center;
  }
  .header-nav a {
    width: 100%;
    margin: 10px auto;
  }
  .header-nav.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: absolute;
    z-index: 10;
  }
  .header-menu {
    display: block;
  }
}

@media (max-width: 638px) {
  .slider-new {
    width: 80%;
    margin: 0 auto;
  }
  .header__search-input {
    margin-left: 10px;
  }
  .header__search-input input {
    width: 250px;
  }
}

@media (max-width: 550px) {
  .header__contacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .slider-news h2 {
    margin: 0 0 50px 30%;
  }
}

@media (max-width: 480px) {
  .slider-news h2 {
    margin: 0 auto 40px;
  }
  .slider-brand__img {
    margin: 0 auto;
  }
}

@media (max-width: 368px) {
  .slider-brand__img {
    border-left: none;
  }
}
/*# sourceMappingURL=main.css.map */