// main: main.scss

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Oswald', sans-serif;
}

p {
	margin: 0;
}

a {
	display: inline-block;
	margin: 0;
	padding: 0;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

.container {
	max-width: 1240px;
	margin: 0 auto;
	position: relative;
}

.page-wrapper {
	display: flex;
	justify-content: space-between;
}

.crumb {
	margin-top: 20px;

	& a {
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		color: #757575;
		text-decoration: none;
		margin-right: 5px;
	}


}