// main: main.scss

.header__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
	border-bottom: 1px solid $gray;
}

.header__contacts {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 620px;
	width: 100%;

	& a {
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 12px;
		color: $red-link;
		margin-top: 10px;
	}
}

.header__adr {
	display: flex;
	justify-content: space-between;
	min-width: 255px;
}

.header__adr-icon {
	width: 20px;
	height: 20px;
	margin-right: 10px;

	& img {
		width: 100%;
	}
}

.header__adr-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 500;
	width: 230px;
	color: $black;
}

.header__call {
	display: flex;
	justify-content: space-between;
	min-width: 145px;

}

.header__call-icon {
	width: 20px;
	height: 20px;
	margin-right: 10px;

	& img {
		width: 100%;
	}
}


.header__call-tel {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: $black;
}


.header__search {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header__search-input {
	margin-left: 30px;
	position: relative;

	& img {
		width: 18px;
		height: 18px;
		position: absolute;
		top: 10px;
		right: 10px;
	}

	& input {
		width: 335px;
		height: 40px;
		background: $light-gray;
		border: none;
		border-radius: 3px;
		padding: 0 17px;

		&::placeholder {
			font-family: 'Montserrat', sans-serif;
			font-size: 14px;
			color: $dark-gray;
			margin-left: 17px;
		}
	}
}

.header__searh-wrap {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.header__bookmarks {
	width: 30px;
	height: 30px;
	margin-left: 30px;

	& img {
		width: 100%;
	}
}

.header__cart {
	position: relative;
	width: 30px;
	height: 30px;
	margin-left: 25px;

	& img {
		width: 100%;
	}
}

.counter {
	position: absolute;
	top: -2px;
	right: -5px;
	height: 18px;
	border-radius: 9px;
	padding: 0px 4px;
	background-color:
		rgb(238, 6, 74);
	color: rgb(244, 244, 244);
	font-size: 14px;
	line-height: 17px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	z-index: 3;
}


.header-nav {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	border-bottom: 1px solid $gray;

	& span {
		display: none;
	}

	& a {
		text-decoration: none;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		font-size: 14px;
		color: $black;
	}
}



// New-Header ================

.new-header {
	position: fixed;
	top: -100%;
	background-color: #ffffff;

	&.clone {
		width: 100%;
		max-width: 1240px;
		top: 0;
		z-index: 100;

		& .header__logo {
			& a {
				display: inline-block;
				margin-bottom: 10px;
			}
		}

		& .header__contacts {
			display: flex;
			justify-content: space-between;
			align-items: center;
			max-width: 570px;
			width: 100%;
		}

		& .header-menu {
			margin-left: 0;
		}

		& .header__call {
			min-width: 150px;

			& a {
				font-family: 'Montserrat', sans-serif;
				font-weight: 500;
				font-size: 12px;
				color: $red-link;
				margin-top: 10px;
			}
		}
	}
}


// Modal ====================

.open-popup {
	background-color: #699;
	color: white;
	padding: 12px 20px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	border: none;
	cursor: pointer;
	width: 180px;
}


.modal {
	display: none;
	position: fixed;
	z-index: 100;
	padding-top: 10px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
	position: relative;
	background-color: #fff;
	margin: auto;
	padding: 10px;
	width: 90%;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
	animation-name: animatefade;
	animation-duration: .5s;
}

.header-modal {
	display: flex;
	flex-direction: column;
	align-items: center;

	& a {
		text-decoration: none;
		padding: 10px 0;
		text-decoration: none;
		font-family: 'Montserrat',
			sans-serif;
		text-transform: uppercase;
		font-size: 14px;
		color: $black;
	}
}



@keyframes animatefade {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}


.close {
	cursor: pointer;
	position: absolute;
	display: block;
	color: $black;
	top: 4px;
	right: 20px;
	font-size: 40px;
	font-weight: bold;
}