// main: main.scss

.header__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
	border-bottom: 1px solid $gray;
}

.header__contacts {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 620px;
	width: 100%;

	& a {
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 12px;
		color: $red-link;
		margin-top: 10px;
	}
}

.header__adr {
	display: flex;
	justify-content: space-between;
	min-width: 255px;
}

.header__adr-icon {
	width: 20px;
	height: 20px;
	margin-right: 10px;

	& img {
		width: 100%;
	}
}

.header__adr-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 500;
	width: 230px;
	color: $black;
}

.header__call {
	display: flex;
	justify-content: space-between;
	min-width: 145px;

}

.header__call-icon {
	width: 20px;
	height: 20px;
	margin-right: 10px;

	& img {
		width: 100%;
	}
}


.header__call-tel {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: $black;
}


.header__search {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header__search-input {
	margin-left: 30px;
	position: relative;

	& img {
		width: 18px;
		height: 18px;
		position: absolute;
		top: 10px;
		right: 10px;
	}

	& input {
		width: 335px;
		height: 40px;
		background: $light-gray;
		border: none;
		border-radius: 3px;
		padding: 0 17px;

		&::placeholder {
			font-family: 'Montserrat', sans-serif;
			font-size: 14px;
			color: $dark-gray;
			margin-left: 17px;
		}
	}
}

.header__searh-wrap {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.header__bookmarks {
	width: 30px;
	height: 30px;
	margin-left: 30px;

	& img {
		width: 100%;
	}
}

.header__cart {
	width: 30px;
	height: 30px;
	margin-left: 25px;

	& img {
		width: 100%;
	}
}

.header-menu {
	display: none;
}

.header-nav {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	border-bottom: 1px solid $gray;

	& a {
		text-decoration: none;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		font-size: 14px;
		color: $black;
	}
}