//main: main.scss
@media (max-width: 1240px) {
	.container {
		padding: 0 15px;

		& .header__wrap {
			width: 100%;
			max-width: 1200px;
		}
	}

	.page-wrapper {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
	}

}


@media (max-width: 1230px) {

	.new-header {
		& .header__wrap {
			flex-wrap: wrap;
			justify-content: center;

			& .header__search {
				margin-top: 20px;
			}
		}
	}

	.coll__card {
		margin: 0 10px;
	}

	.contacts {
		& h2 {
			width: 150px;
			margin: 20px auto 50px;
		}
	}

	.contacts__wrap {
		flex-wrap: wrap;
		justify-content: center;
	}

	.contacts__map {
		width: 100%;
		max-width: 960px;
		display: flex;
		justify-content: center;
	}

	.contacts__form {
		& h2 {
			margin: 50px auto;
		}
	}

	.contacts__form-input {
		flex-wrap: wrap;
	}

	.contacts__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		& .footer__addr,
		.footer__call,
		.footer__mail,
		.footer__work,
		.footer__social {
			margin: 0 15px 15px;
		}
	}

	.filter-size {
		margin: 0 auto;
		text-align: center;

		& h1 {
			min-width: 100px;
			margin: 30px auto;
		}

		& button {
			margin: 30px;
		}
	}

	.filter-size__wrap {
		width: 100%;
		max-width: 700px;
		display: flex;
	}

	.for-size__wrap-item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}


	.for-brand,
	.for-price,
	.for-size,
	.for-color {
		margin: 0 15px;
	}

	.for-size,
	.for-color {
		padding-top: 0;
	}

	.showcase {
		margin: 0 auto;
	}

	.pay {
		text-align: center;
	}

	.pay__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		& .pay__card--wallet {
			margin-bottom: 0;
		}
	}

	.product {
		display: flex;
		flex-wrap: wrap;
	}

	.product-slider,
	.product-item {
		margin: 0 auto;
	}

	.product-slider {
		margin-bottom: 50px;
	}

	.product-item {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	.product-item__size,
	.product-item__size-wrap {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.product-item__size-data {
		display: flex;
		flex-wrap: wrap;
		height: auto;
	}

	.size-data_left,
	.size-data_right {
		width: 100%;
		margin-bottom: 20px;

	}

	.size-data_bold,
	.size-data_thin {
		width: 300px;
		height: 40px;
	}

	.product-item__size-button {
		margin: 0 auto;
	}

}


@media (max-width: 1160px) {

	.coll__subtitle {
		font-size: 1.2em;
		margin-bottom: 15px;
	}

	.coll__title {
		font-size: 2em;
		margin-bottom: 30px;
	}

	.descr__wrap {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.subscribe__form {
		margin: 0 20px;
	}
}





@media (max-width: 1040px) {
	.header__wrap {
		flex-wrap: wrap;
	}

	.header__contacts {
		margin: 0 auto 30px;
		max-width: 700px;
	}

	.header__search {
		max-width: 700px;
		margin: 0 auto;
	}

	.subscribe {
		height: 350px;
	}

	.subscribe__items {
		flex-wrap: wrap;
	}

	.subscribe__text,
	.subscribe__form {
		margin-bottom: 30px;
	}

	.subscribe__text {
		margin-left: 0;
		width: 310px;
		text-align: center;
	}

	.footer {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.footer__addr,
	.footer__call,
	.footer__mail,
	.footer__work,
	.footer__work-icon {
		margin: 0 20px 20px;
	}
}





@media (max-width: 960px) {

	.header-nav {
		display: none;
		background-color: #fff;
		text-align: center;

		& a {
			width: 100%;
			margin: 10px auto;
		}
	}

	.header-menu {
		display: block;
	}

	.slider-top__item {
		height: 500px;
	}

	.slider-top__item-text {
		top: 50px;

		& h1 {
			font-size: 60px;
			margin: 0 0 20px;
		}

		& p {
			font-size: 20px;
		}
	}

	.trend__big-text {
		& h2 {
			font-size: 3em;
		}
	}

	.contacts__form-input {
		justify-content: center;

		& input {
			margin: 0 15px 15px;
		}
	}

	// Woman =========

	.for-size__wrap {
		display: flex;
		justify-content: space-between;
	}

	.showcase-sort {
		flex-wrap: wrap;
		justify-content: center;
	}

	.showcase-sort__num {
		margin-top: 20px;
	}

	.showcase__items {
		& .showcase__row {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;

			& .slider-new__item {
				margin-bottom: 20px;
			}
		}
	}

	.brand-label__logo {
		margin-left: 30px;
	}
}




@media (max-width: 900px) {

	.trend__big-text {
		& h2 {
			font-size: 2.8em;
		}
	}

	.showcase-sort {
		flex-wrap: wrap;

	}
}



@media (max-width: 865px) {

	.trend__armani,
	.trend__militare {
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 0;
	}

	.trend__big,
	.trend__small {
		margin-bottom: 60px;
	}

	.coll__title {
		font-size: 1.5em;
		margin-bottom: 25px;
	}
}



@media (max-width: 720px) {


	.subscribe {
		height: 450px;
	}

	.showcase-sort__list {

		flex-direction: column;
		justify-content: center;

		& nav {
			margin-top: 10px;
			text-align: center;

			& a {
				margin-top: 20px;
			}
		}
	}

	.filter-size__wrap {
		width: 100%;
		max-width: 600px;
	}
}


@media (max-width: 690px) {

	.collection {
		flex-wrap: wrap;
		justify-content: center;
	}

	.coll__card {
		margin-bottom: 20px;
	}

	.for-size__wrap {
		display: flex;
		flex-wrap: wrap;
	}

	.filter-size {
		display: none;
	}
}



@media (max-width: 638px) {

	.new-header {
		&.clone {
			& .header__wrap {
				& .header__contacts {
					margin: 0 auto;
				}
			}

		}
	}

	.slider-new {
		width: 80%;
		margin: 0 auto;

		& .slider-new__prev {
			right: 45px;
		}
	}

	.header__search-input {
		margin-left: 10px;

		& input {
			width: 250px;
		}
	}

	.product-slider {
		display: none;
	}

	.slider-top__item {
		background-color: #b1b1af;

		& img {
			display: none;
		}
	}

	.footer__copy {
		flex-wrap: wrap;
		justify-content: center;
	}

	.footer__year,
	.footer__police {
		margin: 0 20px;
	}

	.footer__police a {
		font-size: 12px;
	}

	.filter-size__wrap {
		flex-wrap: wrap;
		flex-direction: column;
		max-width: 280px;
		margin: 0 auto;
	}

	.for-size__wrap-item {
		max-width: 280px;
		margin: 0 auto;
	}

	.brand-label {
		flex-direction: column;

		& .brand-label__text {
			order: 1;
		}

		& .brand-label__logo {
			margin: 0 auto 20px;
		}
	}
}


@media (max-width: 550px) {

	.header__contacts {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.new-header {
		&.clone {
			& .header__wrap {
				& .header__contacts {
					max-width: 270px;

					& .header__adr {
						display: none;
					}
				}

				& .header__search {
					& .header__call {
						display: none;
					}
				}
			}
		}
	}

	.slider-top__item-text {
		position: relative;
		left: 0;
		margin: 0 auto;

		& h1 {
			margin-bottom: 10px;
		}

		& p {
			margin-bottom: 0;
		}

		& span {
			font-size: 70px;
		}
	}

	.slider-news h2 {
		margin: 0 0 50px 30%;
	}



	.product-item__size-rang {
		flex-wrap: wrap;
		justify-content: center;

		& .product-item__size-item {
			margin-bottom: 20px;
		}
	}

	.pay__card {
		height: auto;
	}

	.pay__card-head {
		flex-direction: column;
	}

	.pay__card-logo {
		margin-top: 20px;
	}

	.pay__card-subhead {
		flex-direction: column;
		justify-content: center;
	}

	.pay__card-icon {
		margin: 0 auto;
	}
}



@media (max-width: 480px) {

	.header__bookmarks,
	.header__cart,
	.header-menu {
		margin-left: 25px;
	}

	.new-header {
		& .header__wrap {
			padding: 10px 0;

			& .header__search {
				display: none;
			}
		}
	}

	.slider-news h2 {
		margin: 0 auto 40px;
	}

	.slider-brand__img {
		margin: 0 auto;
	}
}



@media (max-width: 460px) {

	.header__search {
		flex-wrap: wrap;
	}

	.header__search-input {
		margin-bottom: 20px;
	}

	.slider-top__item-text {
		position: relative;
		left: 0;
		margin: 0 auto;
		width: 100%;

		& h1 {
			font-size: 50px;
		}

		& p {
			font-size: 16px;
		}

		& span {
			font-size: 70px;
		}
	}

	.trend__small {
		flex-wrap: wrap;
		justify-content: center;
	}

	.trend__small-card {
		margin-bottom: 20px;
	}

	.trend__big-text {
		& h2 {
			font-size: 2.5em;
		}
	}

	.product-item__size-data {
		padding: 10px;
	}

	.product-item__size-button {
		flex-wrap: wrap;
		justify-content: center;
	}

	.size-button_basket {
		margin-bottom: 20px;
	}



	.footer {
		justify-content: center;
	}

}




@media (max-width: 368px) {

	.header__logo {
		margin-bottom: 20px;
	}

	.header__adr {
		margin-bottom: 20px;
	}

	.header__adr-text {
		text-align: center;

		& a {
			margin-right: 20px;
		}
	}

	// .header-nav {
	// 	&.show {
	// 		width: 95%;

	// 	}
	// }

	.new-header {
		&.clone {
			& .header__wrap {
				width: 92%;
				max-width: 350px;

				& .header__contacts {
					max-width: 250px;

					& .header__logo {
						margin-bottom: 0;
					}
				}

				& .header__searh-wrap {
					justify-content: center;
				}
			}
		}
	}

	.slider-top__item-text {

		& h1 {
			font-size: 45px;
			line-height: 75px;
		}

		& p {
			font-size: 14px;
		}

		& span {
			font-size: 70px;
		}
	}

	.slider-brand__img {
		border-left: none;
	}

	.trend__big-text {
		& h2 {
			font-size: 2em;
		}
	}

	.subscribe__form {
		& input::placeholder {
			font-size: 12px;
		}
	}

	.product-slider {

		& .slider-for {
			right: -10px;
		}
	}
}