// main: main.scss

.subscribe {
	background-image: url(../img/subscribe-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 280px;
	width: 100%;
	position: relative;
}

.subscribe__items {
	position: absolute;
	top: 70px;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 5;
}

.subscribe__text {
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 26px;
	line-height: 37px;
	max-width: 550px;
	margin-left: 35px;

	& p {
		font-size: 14px;
	}
}

.subscribe__form {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 445px;

	& img {
		position: absolute;
		width: 20px;
		height: 20px;
		top: 18%;
		right: 5%;
		z-index: 5;
	}

	& input {
		max-width: 445px;
		width: 100%;
		height: 55px;
		background-color: #ffffff;
		padding: 0 20px;

		&::placeholder {
			font-family: 'Montserrat', sans-serif;
			font-size: 14px;
			color: $descr;
		}
	}
}

.subscribe__form-police {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;

	& input {
		width: 20px;
		height: 20px;
	}

	& label {
		margin-left: 10px;
	}

	& a {
		color: $dark-gray;
		font-family: 'Montserrat', sans-serif;
		font-size: 13px;
		text-decoration: none;
		margin-bottom: 3px;
	}
}