// main: main.scss

.subscribe {
	background-image: url(../img/subscribe-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 280px;
	width: 100%;
}

.subscribe__items {
	position: absolute;
	top: 70px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 5;
}

.subscribe__text {
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 26px;
	line-height: 37px;
	width: 560px;

	& p {
		font-size: 14px;
	}
}

.subscribe__form {

	& input {
		width: 445px;
		height: 55px;
		background-color: #ffffff;
		padding: 0 20px;

		&::placeholder {
			font-family: 'Montserrat', sans-serif;
			font-size: 14px;
			color: $descr;
		}
	}
}

.subscribe__form-mail::after {
	position: absolute;
	content: "";
	color: #ffffff;
	width: 20px;
	height: 20px;
	background-image: url(../img/send.svg);
	top: 45px;
	right: 75px;
	z-index: 5;
}